@charset "utf-8";

/*font*/
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:100;
    src:url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
            url(../fonts/NotoSansKR-Thin.woff) format('woff'),
            url(../fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:300;
    src:url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
            url(../fonts/NotoSansKR-Light.woff) format('woff'),
            url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:500;
    src:url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:700;
    src:url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:900;
    src:url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Black.woff) format('woff'),
        url(../fonts/NotoSansKR-Black.otf) format('opentype');
} 

/* reset */
body, html {width:100%;margin:0 auto;overflow-x:hidden}
body, form, div, p, ul, ol, li{margin:0;padding:0;}
body{font-size:20px;font-weight:normal;font-family:'Noto Sans KR', Malgun Gothic, sans-serif;letter-spacing:0;color:#444;}
ol, ul, dl, li{list-style:none}
a{display:inline-block;text-decoration:none;color:#444;vertical-align:middle;}
address, em, strong{font-style:normal}
figure, fieldset, img, button, input, dt, dd, span, h1, h2, h3, h4, h5, h6{border:0;padding:0;margin:0;background:none;vertical-align:middle;box-sizing:border-box;font-size:20px;font-family:'Noto Sans KR', Malgun Gothic, sans-serif;letter-spacing:0;color:#444;font-weight:normal;}
button{cursor:pointer;}
button,input[type="button"],input[type="checkbox"],input[type="radio"],input[type="text"],select{appearance:none;-moz-appearance:none;-webkit-appearance:none;border-radius:unset;background:unset}
select::-ms-expand {display:none}
table{border-collapse:collapse;border-spacing:0}
caption,figcaption,legend{font-size:0;line-height:0;}
input[type="text"]{width:100%;border:1px solid #ddd;line-height:43px;padding:0 10px;letter-spacing:normal;}

/*common*/
body{background:#fff;}
[class^="container"]{max-width:1200px;width:100%;margin:0 auto;}
[class^="container"]::after, .cb::after{content:'';display:block;clear:both}
.cb li{float:left;}
.container{position:relative;padding:80px 0 0 0;box-sizing:border-box}
.container .floating_wrap{position:fixed;width:1200px;bottom:90px;left:50%;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
}
.container .btn_top{position:absolute;left:100%;top:0;width:48px;height:48px;margin-left:30px;color:#fff;font-size:16px;background:rgba(0, 0, 0, 0.5);}
.center_wrap{padding-bottom:35px;border:1px solid #ccc;color:#333;text-align:center}
.center_wrap .desc{padding-top:80px;background:url('../images/ico_headset.png') no-repeat center 29px;}
.center_wrap .desc a{display:block;font-size:38px;font-weight:900;letter-spacing:-0.075em;line-height:1.3;}
.center_wrap .noti{margin-top:20px;font-size:16px;color:#888;line-height:24px;}
.sns{display:inline-block;width:40px;height:40px;font-size:0;background:url('../images/ico_sns_facebook.png') no-repeat 0 0/contain}
.sns.blog{background-image:url('../images/ico_sns_blog.png')}
.sns.instagram{background-image:url('../images/ico_sns_instagram.png')}
.sns.band{background-image:url('../images/ico_sns_band.png')}
.sns.kakao{background-image:url('../images/ico_sns_kakao.png')}
.d_under{position:relative;display:inline-block}
.d_under::before{content:'';position:absolute;top:100%;left:0;right:0;height:1px;background:#666}
.c_green{color:#a5c531}
.slash_tab{margin:30px 0 40px;background:#fff;}
.slash_tab li{position:relative;width:20%;}
.slash_tab li~li button::before{content:'/';position:absolute;top:0;left:0;color:#333!important}
.slash_tab button{width:100%;height:50px;line-height:50px;font-weight:700;color:#333;border-bottom:4px solid #ececec;letter-spacing:-0.025em}
.slash_tab button:hover, .slash_tab .on button{color:#9abe2d;border-bottom:4px solid #9abe2d;}

/*header*/
header .btn_hamburger{display:none}
header{background:rgba(0, 0, 0, 0.75);line-height:110px;font-size:18px}
header h1{float:left;margin-right:70px}
header .gnb{float:left;}
header .gnb li{padding:0 10px;}
header .gnb a{height:111px;padding:0 20px;color:#fff;box-sizing:border-box;font-weight:400}
header .gnb a:hover, header .on a{color:#a1c330;border-bottom:5px solid #a1c330;}
header .utility{float:right;}
header .utility a{margin-left:10px;font-size:0;width:40px;height:40px;background:url('../images/ico_header_info.png') no-repeat 0 0/contain}
header .utility a.mypage{background-image:url('../images/ico_header_mypage.png')}

/*footer*/
footer{position:relative;background:#404040;font-size:16px;font-weight:300;padding-bottom:40px;margin-top:100px;;text-align:left}
footer::before{content:'';position:absolute;top:82px;left:0;right:0;height:1px;background:#575757;}
.footer_menu{line-height:81px;margin-bottom:40px;}
.footer_menu .info_wrap{float:left;}
.footer_menu .info_wrap a{padding:0 10px;box-sizing:border-box}
.footer_menu .info_wrap li{position:relative;}
.footer_menu .info_wrap li~li::before{content:'';position:absolute;top:50%;left:0;margin-top:-6px;width:1px;height:15px;background:rgba(255, 255, 255, 0.85);}
.footer_menu .sns_wrap{float:right;}
.footer_menu .sns_wrap a{font-size:0;width:38px;height:38px;background:url('../images/ico_footer_naver.png') no-repeat 0 0/contain}
.footer_menu .sns_wrap li~li{margin-left:10px}
.footer_menu .sns_wrap .kakao{background-image:url('../images/ico_footer_kakao.png')}
.footer_menu .sns_wrap .facebook{background-image:url('../images/ico_footer_facebook.png')}
.footer_menu .sns_wrap .tstory{background-image:url('../images/ico_footer_tstory.png')}
.footer_menu a{color:rgba(255, 255, 255, 0.85);}
.footer_addr>div{float:left;padding-left:134px;background:url('../images/img_logo_02.png') no-repeat 0 5px}
.footer_addr>div:last-child{float:right;background-image:url('../images/img_logo_03.png')}
.footer_addr, .footer_addr a, .footer_addr .name{color:rgba(255, 255, 255, 0.55);vertical-align:baseline;}
.footer_addr .name{display:block;font-size:18px;font-weight:400;margin-bottom:5px;}
.footer_addr address{display:inline-block;vertical-align:top;line-height:22px;}

/*main*/
.main{text-align:Center}
.main .container{padding:0}
.main .container>section{margin-top:30px;padding-top:50px}
.main h2{margin-bottom:35px;}
.main h2,.main h2 span{font-size:45px;letter-spacing:-0.05em;font-weight:700;vertical-align:baseline}
.main .bg{position:relative;}
.main .bg::before{content:'';position:absolute;top:0;left:50%;bottom:0;width:100vw;background:#9cc02d;z-index:-1;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
}
.main .btn_viewmore{position:relative;display:block;width:40px;height:40px;float:right;font-size:0;}
.main .btn_viewmore::before{content:'+';position:absolute;top:0;right:0;font-size:39px;line-height:1;font-weight:100;}
.main .tit_desc{margin-bottom:40px;font-size:24px;color:#232323;line-height:1.2;word-break:keep-all;}
.main .tit_desc b{display:block;margin:45px 0 30px}
.main .sec_recom .tab li{width:12.5%;box-sizing:border-box;border:1px solid #aeaeae;border-left-width:0;}
.main .sec_recom .tab li:hover button:not(:disabled), .main .sec_recom .tab li.on button:not(:disabled){background:#9cc02d;color:#fefefe}
.main .sec_recom .tab button{width:100%;height:69px;color:#232323;font-weight:700;font-size:26px;}
.main .sec_recom .tab button:disabled{font-size:20px;color:#d6d6d6;background:#f3f3f3}
.main .sec_progr.tab li{width:20%;}
.main .slash_tab{margin-bottom:32px;}
.main .slash_tab li{width:21%}
.main .slash_tab li:first-child{width:15%}
.main .slash_tab li:nth-child(2){width:22%}
.main .slash_tab button{height:60px;font-weight:400;font-size:24px}
.main .con_wrap~.con_wrap{display:none;}
.main .con_wrap h3{margin-bottom:9px;text-align:left;font-size:24px;font-weight:700;letter-spacing:-0.05em;}
.main .con_wrap .new+div~div{border-top:1px solid #ddd}
.main .con_wrap>div{padding:45px 0;}
.main .con_wrap li{width:25%;box-sizing:border-box;padding:0 8px 0 8px;}
.main .con_wrap li a{width:100%;}
.main .con_wrap li .tit{display:block;padding-top:10px;font-size:24px;color:#333}
.main .con_wrap li .img{border:1px solid #ccc;height:285px;background-size:cover;background-position:center center}
.main .con_wrap li:first-child{padding:0 12px 0 0}
.main .con_wrap li:last-child{padding:0 0 0 12px}
.main .con_wrap .new{padding-bottom:70px;background:#9cc02d}
.main .con_wrap .new h3{color:#fff}
.main .con_wrap .new .tit{padding-bottom:15px}
.main .con_wrap .new .desc{padding:50px 10px 30px;background:#fff;word-break:keep-all;line-height:1.2}
.main .con_wrap .new .desc .d_under{padding-top:30px;}
.main .con_wrap .new .desc .d_under::before{background:#000}
.main .con_wrap .new .img{border:0;}
.main .con_wrap .new li{width:33.333%}
.main .sec_role{padding-bottom:67px;background:#e6e6e6;}
.main .sec_role::before{background:#e6e6e6;}
.main .sec_role h2{margin-bottom:0}
.main .sec_role li{width:33.333%;}
.main .sec_role li:hover{width:33.333%}
.main .sec_role li a{background:#fff url('../images/ico_role_01.png') no-repeat center 76px;padding:200px 0 75px;letter-spacing:-0.05em;font-size:28px;font-weight:700}
.main .sec_role li:nth-child(2) a{background-image:url('../images/ico_role_02.png')}
.main .sec_role li:nth-child(3) a{background-image:url('../images/ico_role_03.png')}
.main .sec_role li span{display:inline-block;margin-top:15px;border:1px solid #000;padding:8px 30px;;font-size:22px;}
.main .sec_role li a:hover{background-image:url('../images/ico_role_01_on.png')}
.main .sec_role li:nth-child(2) a:hover{background-image:url('../images/ico_role_02_on.png')}
.main .sec_role li:nth-child(3) a:hover{background-image:url('../images/ico_role_03_on.png')}
.main .sec_role li a:hover span{border-color:#fff;}
.main .sec_role li a:hover, .main .sec_role .on a, .main .sec_role li a:hover span{background-color:#9cc02d;color:#fff;}
.main .sec_int{padding:65px 0}
.main .sec_int h2{margin-bottom:20px}
.main .sec_int .video_wrap{position:relative;border:1px solid #dcdcdc}
.main .sec_int .video_wrap .tit{position:absolute;top:0;left:50%;padding:0 50px;background:#fff;color:#232323;font-size:38px;letter-spacing:-0.05em;font-weight:700;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
.main .sec_sns{background:#f8f8f8}
.main .sec_sns::before{background:#f8f8f8}
.main .sec_sns .con_wrap>div~div{display:none}
.main .sec_info>div{float:left;width:33%;padding:20px 13px;box-sizing:border-box}
.main .sec_info>div:first-child{padding:20px 27px 20px 0;}
.main .sec_info>div:last-child{padding:0 0 0 27px;}
.main .sec_info h2{padding-bottom:15px;margin-bottom:0;text-align:left;color:#333;font-size:28px;font-weight:700;letter-spacing:-0.05em;border-bottom:1px solid #dcdcdc}
.main .sec_info .center_wrap h2{margin:20px 24px 0;padding-bottom:15px;}
.main .sec_info li{height:70px;border-bottom:1px solid #dcdcdc;text-align:left;width:100%;color:#333;font-size:18px;line-height:24px;}
.main .sec_info li a{padding:10px 0;width:100%;}
.main .sec_info li .date{color:#8f8f8f;font-size:16px;font-weight:300}
.main .sec_info li p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/*sub*/
.con_left{width:66.7%;float:left}
.con_right{width:30.9%;float:right;color:#333}
.con_right .subject_wrap{padding:30px 32px;border:1px solid #ccc;margin-bottom:20px;}
.con_right .subject_wrap .under{font-weight:700;}
.con_right .subject_wrap .tit{display:block;margin:10px 0 15px;font-weight:900;font-size:28px}
.con_right .subject_wrap .desc{font-size:16px;line-height:20px;}
.con_right .btn_wrap [class^="btn"]{margin-bottom:18px;width:100%;height:46px;border:1px solid #a2c035;color:#a5c532;text-align:center;}
.con_right .social{border-top:1px solid #e3e3e3;padding-top:10px;}
.con_right .btn_wrap .btn_apply{margin:25px 0 10px;background:#a2c035;color:#fff}
.con_right .social .sns_wrap{float:right;}
.con_right .social .sns{width:30px;height:30px;}
.con_right .social .btn_heart{padding-left:26px;background:url('../images/ico_heart.png') no-repeat 0 center;font-weight:700;font-size:16px;line-height:30px;}
.con_right .social .btn_heart.on{background-image:url('../images/ico_heart_on.png')}
.con_right .social .hidden{font-size:0}
.sub .key_visual{border:1px solid #ccc}

.sub [class^="sec_tab_"]{position:relative;padding:0 0 95px 25px;}
.sub [class^="sec_tab_"]:last-of-type{padding-bottom:0}
.sub [class^="sec_tab_"]:not(:last-of-type)::before{content:'';position:absolute;top:15px;bottom:-15px;;left:6px;width:1px;background-color:#e3e3e3}
.sub [class^="sec_tab_"]::after{content:'';position:absolute;top:0;margin-top:12px;left:0;width:14px;height:14px;background:#a2c035;border-radius:50%;}
.sub h2{margin-bottom:15px;color:#333;font-size:24px;font-weight:700}
.sub h2+ul{line-height:30px}
.sub .tit_desc{margin:15px 0 30px;}
.sub .tit_desc .sns:not(.blog){width:35px;height:35px}
.sub .review_wrap>div{padding:15px 40px 20px 55px;background:#f1f1f1;font-size:18px}
.sub .review_wrap>div~div{margin-top:10px;}
.sub .review_wrap .name{position:relative;color:#888;font-weight:700;}
.sub .review_wrap .name .img{position:absolute;top:0;left:-40px;width:30px;height:30px;font-size:0;background:url('../images/ico_user.png') no-repeat 0 0/cover}
.sub .review_wrap .date{padding-left:10px;color:#888;font-size:14px;font-weight:300}
.sub .review_wrap p{margin-top:10px;color:#666;font-weight:300;line-height:24px;}
.sub .btn_more{text-align:right;}
.sub .btn_more a{position:relative;padding:14px 0 14px 30px;font-size:18px;color:#222;}
.sub .btn_more a::before{content:'+';position:absolute;top:15px;left:15px;}
.sub .btn_more a::after{content:'';position:absolute;top:67%;left:30px;right:0;height:2px;background:#9c9c9c;}
.sub .sns_wrap{display:inline-block;}
.sub .photo_wrap li{width:250px;height:250px;background-size:cover;background-position:center center}
.sub .photo_wrap li:nth-child(3n){float:right}
.sub .photo_wrap li:nth-child(3n-1){margin-left:13px}
.sub .photo_wrap li:nth-child(3n)~li{margin-top:13px;}
.sub .progr_wrap li{width:49%}
.sub .progr_wrap li a{width:100%;border:1px solid #ccc;text-align:center;font-size:24px;font-weight:700}
.sub .progr_wrap li:nth-child(2n){float:right}
.sub .progr_wrap li:nth-child(2n)~li{margin-top:19px;}
.sub .progr_wrap .progr_img{height:209px;background-size:cover;background-position:center center}
.sub .progr_wrap p{padding:20px 0}
.sub .progr_wrap .label{display:inline-block;margin:-5px 8px 0 0;line-height:22px;padding:0 13px;font-size:14px;color:#fff;background:#ff6c13;border-radius:13px;vertical-align:middle;font-weight:bold;}
.sub.scroll .sec_tab_0{margin-top:120px;}

@media (max-width:1400px) {
    .sub .photo_wrap li{width:32%;height:17.86vw;}

    .main .container>section{padding-top:3.57vw;margin-top:2.14vw}
    .main .con_wrap li .img{height:20.36vw;}
    .main .con_wrap>div{padding:3.21vw 0}
    .main .con_wrap li .tit{font-size:1.71vw;}
    .main .con_wrap .new{padding-bottom:5vw}
    .main .con_wrap .new .tit{padding-bottom:1.07vw;}
    .main .con_wrap .new .desc{padding:3.57vw 0.71vw 2.14vw}
    .main .con_wrap .new .desc .d_under{padding-top:2.14vw;font-size:1.43vw}
    .main .sec_role li a{padding:14.29vw 0 5.36vw;background-size:7.86vw auto;background-position-y:5.43vw;font-size:2vw;}
    .main .sec_role li span{font-size:1.57vw;padding:0.57vw 2.14vw}
    .main .sec_int>iframe{height:48.21vw}
    .main .sec_int h2{margin-bottom:1.43vw}
    .main .sec_int .video_wrap .tit{padding:0 3.57vw;font-size:2.71vw}
    .main .sec_info>div{padding:1.43vw 0.93vw}
    .main .sec_info>div:first-child{padding:1.43vw 1.93vw 1.43vw 0}
    .main .sec_info h2{padding-bottom:1.07vw;font-size:2vw}
    
}

@media (min-width:769px){
    .main .sec_recom .tab li:nth-child(8n-7){border-left-width:1px;}
    .main .sec_recom .tab li:nth-child(8)~li{border-top:0;}

    .sub.scroll .slash_tab{position:fixed;top:0;left:50%;width:100%;max-width:1200px;margin:0;
        transform:translate(-50%,0);
        -webkit-transform:translate(-50%,0);
        -o-transform:translate(-50%,0);
        -moz-transform:translate(-50%,0);
        -ms-transform:translate(-50%,0);
        z-index:10;
    }
    .sub.scroll .slash_tab ul{width:66.7%;float:left;}
    .sub.scroll .con_right{position:fixed;width:100%;max-width:1200px;top:49px;left:50%;
        transform:translate(-50%,0);
        -webkit-transform:translate(-50%,0);
        -o-transform:translate(-50%,0);
        -moz-transform:translate(-50%,0);
        -ms-transform:translate(-50%,0);
    }
    .sub.scroll .con_right>div{float:right;width:370px;}

    .footer_addr>div:last-child{padding-left:161px;}
}

@media all and (min-width:769px) and (max-width:1400px) {
    body{font-size:1.43vw;}
    header{box-sizing:border-box;line-height:7.86vw;font-size:1.29vw}
    header h1{margin-right:5vw;}
    header h1 img{width:10.29vw}
    header .gnb a{height:8.21vw;padding:0 1.43vw}
    header .gnb li{padding:0 0.71vw}
    header .gnb a:hover, header .on a{border-bottom-width:3px;}
    header .utility a{width:2.86vw;height:2.86vw;}

    [class^="container"]{padding:0 10px;box-sizing:border-box;}
    .container{padding-top:5.71vw}
    .container .floating_wrap{width:100%}
    .container .btn_top{margin-left:-60px;}
    .sns{width:2.86vw;height:2.86vw}
    .center_wrap{padding-bottom:2.5vw}
    .center_wrap .desc{padding-top:5.71vw;background-position-y:2.07vw;background-size:2.29vw auto}
    .center_wrap .desc a{font-size:2.71vw}
    .center_wrap .noti{font-size:1.14vw;line-height:1.2}
    .slash_tab{margin:2.14vw 0 2.86vw}
    .slash_tab button{font-size:1.43vw;line-height:3.57vw;height:3.57vw;}
    .slash_tab button:hover, .slash_tab .on button{border-bottom-width:3px;}

    .main .container{padding:0 10px}
    .main h2, .main h2 span{font-size:3.21vw;margin-bottom:2.5vw}
    .main .slash_tab button{font-size:1.71vw;height:4.29vw}
    .main .sec_recom .tab button{height:4.93vw;font-size:1.86vw}
    .main .sec_recom .tab button:disabled{font-size:1.43vw}
    .main .con_wrap h3{font-size:1.71vw;margin-bottom:0.64vw}
    .main .btn_viewmore::before{font-size:2.79vw}
    .main .btn_viewmore{width:2.86vw;height:2.86vw;}
    .main .tit_desc{font-size:1.71vw;margin-bottom:2.86vw;}
    .main .tit_desc b{margin:3.21vw 0 2.14vw}
    .main .sec_info li a{padding:0.71vw 0}
    .main .sec_info li{height:5vw;line-height:1.71vw;font-size:1.29vw}
    .main .sec_info li .date{font-size:1.14vw}
    .main .sec_info .center_wrap h2{padding-bottom:1.07vw;margin:1.43vw 1.71vw 0}
    
    .sub [class^="sec_tab_"]{padding:0 0 6.79vw 1.79vw}
    .sub [class^="sec_tab_"]:not(:last-of-type)::before{left:3px}
    .sub [class^="sec_tab_"]::after{margin-top:0.86vw;width:8px;height:8px;}
    .sub h2{font-size:1.71vw;margin-bottom:1.07vw}
    .sub h2+ul{line-height:2.14vw}
    .sub .tit_desc{margin:1.07vw 0 2.14vw}
    .sub .tit_desc .sns:not(.blog){width:2.5vw;height:2.5vw}
    .sub .review_wrap>div{font-size:1.29vw;padding:1.07vw 2.86vw 1.43vw 3.93vw}
    .sub .review_wrap .name{font-size:1.43vw;}
    .sub .review_wrap .date{font-size:1vw;padding-left:0.71vw}
    .sub .review_wrap p{margin-top:0.71vw;line-height:1.71vw}
    .sub .review_wrap .name .img{width:2.14vw;height:2.14vw;left:-2.86vw}
    .sub .btn_more a{font-size:1.29vw;}
    .sub .progr_wrap p{padding:1.43vw 0;font-size:1.71vw;}
    .sub .progr_wrap .label{font-size:1vw;line-height:1.5;padding:0 0.93vw;}
    .sub .progr_wrap .progr_img{height:14.93vw}

    footer{padding-bottom:2.86vw;margin-top:7.14vw;font-size:1.14vw}
    footer::before{top:5.86vw}
    .footer_menu{line-height:5.79vw;margin-bottom:2.86vw}
    .footer_menu .info_wrap li~li::before{height:10px;margin-top:-4px;}
    .footer_menu .sns_wrap a{width:2.71vw;height:2.71vw;}
    .footer_addr>div{padding-left:9.57vw;background-size:auto 6.07vw}
    .footer_addr>div:last-child{padding-left:11.5vw}
    .footer_addr address{line-height:1.57vw}
    .footer_addr .name{font-size:1.29vw}

    .sub.scroll .slash_tab ul{padding-left:10px;box-sizing:border-box;}
    .sub.scroll .sec_tab_0{margin-top:8.57vw}
    .sub.scroll .con_right{top:3.57vw;padding-right:10px;box-sizing:border-box;}
    .sub.scroll .con_right>div{width:30.9%}

    .con_right .subject_wrap{padding:2.14vw 2.29vw;margin-bottom:1.43vw;}
    .con_right .subject_wrap .d_under{font-size:1.43vw;}
    .con_right .subject_wrap .tit{margin:0.71vw 0 1.07vw;font-size:2vw}
    .con_right .subject_wrap .desc{font-size:1.14vw;line-height:1.2}
    .con_right .btn_wrap [class^="btn"]{height:3.29vw;margin-bottom:1.29vw;font-size:1.43vw}
    .con_right .btn_wrap .btn_apply{margin:1.79vw 0 0.71vw}
    .con_right .social .btn_heart{font-size:1.14vw;line-height:2.14vw;padding-left:1.86vw;background-size:1.43vw auto}
    .con_right .social .sns{width:2.14vw;height:2.14vw}
}

@media (max-width:768px){
    .con_left{width:100%;}
    .con_right{display:none}
    .container_header{padding:20px 5%;box-sizing:border-box;height:103px;overflow:hidden;}
    header.open .container_header{height:auto;background:#404040;position:absolute;left:0;top:0;right:0;z-index:200}
    header.open{height:103px;}
    header .btn_hamburger{display:block;position:absolute;top:37px;right:5%;width:40px;height:35px;border-top:2px solid #fff;border-bottom:2px solid #fff;}
    header .btn_hamburger::before{content:'';position:absolute;top:50%;left:0;right:0;margin-top:-1px;height:2px;background:#fff}
    header{line-height:60px}
    header h1{margin-bottom:30px;}
    header .gnb li{width:100%;text-align:left;font-size:20px}
    header .gnb a{height:60px;}
    .slash_tab{overflow-x:auto;}
    .center_wrap{padding-bottom:4.56vw}
    .center_wrap .desc{padding-top:10.42vw;background-position-y:3.78vw;background-size:4.17vw auto}
    .center_wrap .desc a{font-size:2.95vw}
    .center_wrap .noti{font-size:2.08vw;line-height:3.13vw;margin-top:2.6vw;}
    .main .btn_viewmore::before{font-size:5.08vw}

    .main .btn_viewmore{width:5.21vw;height:5.21vw;}
    .main .tit_desc{margin-bottom:2.6vw;font-size:2.6vw}
    .main h2, .main h2 span{font-size:5.21vw;margin-bottom:1.91vw}
    .main .sec_recom .tab button{font-size:3.91vw}
    .main .sec_recom .tab button:disabled{font-size:2.91vw}
    .main .sec_recom .tab button{height:8.98vw}
    .main .container{padding:0 5%}
    .main .sec_recom .tab li{width:25%;}
    .main .sec_recom .tab li:nth-child(4n-3){border-left-width:1px;}
    .main .sec_recom .tab li:nth-child(4)~li{border-top-width:0;}
    .main .slash_tab ul{min-width:130.21vw}
    .main .slash_tab button{font-size:3.13vw;height:7.81vw;line-height:7.81vw}
    .main .slash_tab{margin-top:0}
    .main .con_wrap h3{font-size:3.13vw}
    .main .con_wrap li .tit{font-size:2.34vw}
    .main .con_wrap .new .desc{font-size:2.6vw}
    .main .con_wrap .new .desc .d_under{font-size:2.34vw}
    .main .con_wrap li .img{height:42.36vw}
    .main .con_wrap li{width:50%}
    .main .con_wrap .new li .img{height:28.36vw}
    .main .con_wrap li{padding:0 5px}
    .main .con_wrap li:first-child{padding:0 5px 0 0}
    .main .con_wrap li:last-child{padding:0 0 0 5px}
    .main .con_wrap div:not(.new) li{margin-bottom:1.95vw}
    .main .con_wrap div:not(.new) li:nth-child(even){padding:0 0 0 5px}
    .main .con_wrap div:not(.new) li:nth-child(odd){padding:0 5px 0 0}
    .main .sec_info li{font-size:2.6vw}
    .main .sec_info li .date{font-size:2.34vw}
    .main .sec_info li{height:8.95vw;line-height:1.2}
    .main .sec_info li a{padding:1.3vw 0}
    .main .sec_info .center_wrap h2{padding-bottom:1vw;margin:1.3vw 2.56vw 0}
    .main .sec_role{padding-bottom:8.72vw}
    .main .sec_role li{width:33.333%;}
    .main .sec_int .tit_desc{margin-bottom:5.6vw}
    .main .sec_info>div{width:50%}
    .main .sec_info h2{font-size:3.65vw;}
    .main .sec_info>div:last-child{padding:20px 0 0 0;margin-left:50%;
        transform:translate(-50%,0);
        -webkit-transform:translate(-50%,0);
        -o-transform:translate(-50%,0);
        -moz-transform:translate(-50%,0);
        -ms-transform:translate(-50%,0);
    }

    .sub.scroll .slash_tab{position:fixed;top:0;left:0;right:0;z-index:100;margin:0}
    .sub [class^="sec_tab_"]{margin:0 5%}
    .sub .photo_wrap li{height:27.84vw}
    .sub .photo_wrap li:nth-child(3n-1){margin-left:1.69vw}
    .sub .slash_tab ul{min-width:640px;}
    .sub .progr_wrap p{font-size:18px}
    .sub .progr_wrap .progr_img{height:23.93vw}

    footer::before{top:10.68vw}
    footer{margin-top:13.02vw;font-size:2.08vw;padding-bottom:5.21vw;}
    .footer_menu{padding:0 5%;line-height:10.55vw}
    .footer_menu .info_wrap li:first-child a{padding-left:0}
    .footer_menu .sns_wrap a{width:4.95vw;height:4.95vw;}
    .footer_addr{padding:0 5%}
    .footer_addr .name{font-size:2.34vw}
    .footer_addr address{font-size:1.9vw;line-height:1.2}
    .footer_addr>div{width:100%;box-sizing:border-box;margin-bottom:20px;padding-left:20.96vw;background-size:auto 11.07vw}
    
}
@media (max-width:460px){
     .sub .progr_wrap li{width:100%;margin-bottom:10px;}
     .sub .progr_wrap .progr_img{height:45vw}
     .sub .photo_wrap li{width:100%;margin:0 0 10px 0!important;height:83vw}
}